/*----------------------------------------
                Básicos
-----------------------------------------*/

article {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
}

button {
    cursor: pointer;
    position: absolute;
    top: 1100px;
    text-indent: -10000px;
}

#atras,
#adelante {
    width: 4%;
    height: 150px;
}

#atras {
    left: 1900px;
    margin-top: 150px;
    background-image: url(../resourses/btn_left.png);
    background-repeat: no-repeat;
}

#adelante {
    left: 2000px;
    margin-top: 150px;
    background-image: url(../resourses/btn_right.png);
    background-repeat: no-repeat;
}

p {
    color: #818181;
    margin-top: 5%;
}

#servicios {
    margin-top: 3%;
    width: 80%;
    margin-left: 13%;
    margin-bottom: 6%;
}


/*----------------------------------------
               Color texto
-----------------------------------------*/

h1 {
    color: #043f83;
    font-family: 'MyriadPro-Regular';
    font-size: 60px;
    text-transform: uppercase;
    top: 250px;
    left: 850px;
    position: absolute;
    z-index: 1;
    letter-spacing: 6px;
    width: 50%;
}

h2 {
    color: #818181;
    position: absolute;
    font-family: 'MyriadPro-Regular';
    font-size: 120%;
    top: 350px;
    left: 1100px;
    letter-spacing: 0.7px;
    width: 35%;
    line-height: 120%;
}

#pag-4 h1 {
    top: 5%;
}

#pag-4 h2 {
    top: 21%;
}

#pag-5 h1 {
    width: 60%;
    margin-top: -6%;
}

#pag-5 h2 {
    margin-top: -5.8%;
    width: 40%;
}

li {
    list-style-type: disc;
    margin-bottom: 2%;
    margin-left: 5%;
}

#pag-6 h1 {
    top: 6%;
}

#pag-6 h2 {
    top: 21%;
}

#pag-7 h1 {
    top: 17%;
    width: 50%;
}

#pag-7 h2 {
    top: 34%;
    width: 40%;
}


/*----------------------------------------
                Menu
-----------------------------------------*/

#menu2 {
    width: 85%;
    float: left;
    text-transform: uppercase;
    font-family: 'MyriadPro-Regular';
    color: white !important;
    font-size: 109%;
    position: relative;
    margin-left: 8%;
    letter-spacing: 2.5px;
}

.menu3 {
    position: relative;
    width: 15%;
    float: left;
    text-align: center;
    margin-top: 3%;
}

.menu3 a:hover {
    font-family: 'MyriadPro-BoldIt';
    text-decoration: underline;
}

#logoblanco {
    float: left;
    margin-left: 4%;
    margin-right: 8%;
    margin-top: 1%;
}

.menu4 {
    position: relative;
    width: 13%;
    float: left;
    text-align: center;
    margin-top: 3%;
    margin-left: 2px;
}

.menu4 a:hover {
    font-family: 'MyriadPro-BoldIt';
    text-decoration: underline;
}


/*----------------------------------------
                Footer
-----------------------------------------*/

footer2 {
    width: 100%;
    height: 190px;
    background-color: #043f83;
    font-family: 'MyriadPro-Regular';
    color: white !important;
    letter-spacing: 1.5px;
    text-align: center;
    float: left;
    margin-top: -4px;
}

#txt_foteer {
    float: left;
    width: 70%;
    margin-left: 15%;
    font-size: 120%;
    margin-top: 3%;
}

.espacio2 {
    margin-left: 0.8%;
}


/*----------------------------------------
                Responsive
-----------------------------------------*/

@media screen and (max-width:800px) {
    .menu3 {
        display: none;
    }
    .menu4 {
        display: none;
    }
    #logoblanco {
        width: 6.7%;
        margin-top: 2%;
        margin-left: -2%;
    }
    #txt_foteer {
        width: 63%;
        margin-left: 20%;
        line-height: 130%;
    }
    button {
        top: 1100px;
        text-indent: -10000px;
    }
    #atras {
        left: 1400px;
        top: 72%;
    }
    #adelante {
        left: 1500px;
        top: 72%;
    }
    #servicios {
        margin-top: 15%;
        width: 80%;
        height: 3200px;
    }
    footer2 {
        font-size: 220%;
    }
    #txt_foteer {
        margin-top: 1%;
    }
    /*----------------------------------------
                TxT
-----------------------------------------*/
    h1 {
        top: 1500px;
        left: 150px;
        font-size: 270%;
        width: 60%;
    }
    h2 {
        font-size: 215%;
        top: 1700px;
        left: 150px;
        width: 76%;
        line-height: 120%;
    }
    .imgs_servicio {
        width: 150%;
        margin-left: 10%;
    }
    #pag-2 h1 {
        left: 150px;
    }
    #pag-3 h1 {
        left: 150px;
    }
    #pag-4 h1 {
        top: 1400px;
        width: 50%;
        left: 150px;
        line-height: 120%;
    }
    #pag-4 h2 {
        top: 1700px
    }
    #pag-5 h1 {
        top: 1500px;
        width: 50%;
        left: 150px;
        line-height: 120%;
    }
    #pag-5 h2 {
        top: 1800px;
        width: 76%;
    }
    #pag-6 h1 {
        top: 1400px;
        width: 50%;
        line-height: 110%;
        left: 150px;
    }
    #pag-6 h2 {
        top: 1750px;
    }
    #pag-7 h1 {
        top: 1400px;
        width: 40%;
        line-height: 110%;
        left: 150px;
        font-size: 270%;
    }
    #pag-7 h2 {
        top: 1760px;
        width: 76%;
    }
}